@import "../../styles/variables.scss";

@mixin button-styles {
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  border-radius: $rounded-large;
  font-size: $font-size-small;
  line-height: $line-height-small;
  outline-width: 0.125rem;
  outline-offset: 0.125rem;
  cursor: pointer;
}

.header-container {
  padding: 2rem;
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  position: relative;
}

.menu-section {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.app-logo {
  display: flex;
  height: 2.5rem;
  gap: 1rem;
  cursor: pointer;
}

.app-text {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
}

.menu-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5rem 0.75rem;
  margin: -0.5rem -0.75rem;
  border-radius: $rounded-large;
  font-size: $font-size-small;
  line-height: $line-height-small;
  cursor: pointer;
  color: rgb(55 65 81);
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: rgb(17, 24, 39);
    background-color: rgb(243 244 246);
  }
}

.menu-text {
  position: relative;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.login-link {
  @include button-styles;
  border: $border;
  color: rgb(55 65 81);
  transition: border 0.3s;

  &:hover {
    border: $border-hover;
  }
}

.download-link {
  @include button-styles;
  font-weight: 600;
  background-color: rgb(31 41 55);
  color: white;
  transition: background-color 0.3s;
  &:hover {
    background-color: rgb(17 24 39);
  }
}

.small-screen-menu {
  display: none;
}
