<header>
    <nav>
        <div class="header-container">
            <div class="menu-section">
                <a class="app-logo">
                    <app-svg-logo></app-svg-logo>
                    <div class="app-text">Investo</div>
                </a>
                <div class="menu-container">
                    <a class="menu-item">
                        <span class="menu-text">Features</span>
                    </a>
                    <a class="menu-item">
                        <span class="menu-text">Reviews</span>
                    </a>
                    <a class="menu-item">
                        <span class="menu-text">Pricing</span>
                    </a>
                    <a class="menu-item">
                        <span class="menu-text">FAQs</span>
                    </a>
                </div>
            </div>
            <div class="user-actions">
                <div class="small-screen-menu">small screen menu</div>
                <a class="login-link">Log in</a>
                <a class="download-link">Download</a>
            </div>
        </div>
    </nav>
</header>