<div class="layout">
    <div class="slide">
        <div class="slide-content">
            <div class="content-background"><app-svg-spinner-big></app-svg-spinner-big></div>
            <div class="content-main">
                <app-phone-frame>
                    <app-phone-content-invite></app-phone-content-invite>
                </app-phone-frame>
            </div>
            <div class="content-description"></div>
        </div>
    </div>
    <div class="slide">
        <div class="slide-content">
            <div class="content-background"><app-svg-spinner-big></app-svg-spinner-big></div>
            <div class="content-main">
                <app-phone-frame>
                    <app-phone-content-stocks></app-phone-content-stocks>
                </app-phone-frame>
            </div>
            <div class="content-description"></div>
        </div>
    </div>
    <div class="slide">
        <div class="slide-content">
            <div class="content-background"><app-svg-spinner-big></app-svg-spinner-big>
            </div>
            <div class="content-main">
                <app-phone-frame>
                    <app-phone-content-invest></app-phone-content-invest>
                </app-phone-frame>
            </div>
            <div class="content-description"></div>
        </div>
    </div>
</div>
<div class="buttons">
    <button type="button" aria-label="Go to slide 1"></button>
    <button type="button" aria-label="Go to slide 2"></button>
    <button type="button" aria-label="Go to slide 3"></button>
</div>