@import ".../../../../../styles/variables.scss";

.layout {
  margin-bottom: -1rem;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  scrollbar-width: none;
  > *:not(:first-child) {
    margin-left: 1rem;
  }
}
.layout::-webkit-scrollbar {
  display: none;
}

.slide {
  box-sizing: border-box;
  width: 100%;
  flex: none;
  scroll-snap-align: center;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: $breakpoint-sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.slide-content {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgb(38 38 38);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.content-background {
  position: absolute;
  top: 50%;
  height: 35rem;
  width: 35rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-main {
  position: relative;
  aspect-ratio: 366/729;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 23rem;
}
.content-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.95);
  padding: 1.5rem;
  backdrop-filter: blur(00.5rem);
  @media (min-width: $breakpoint-sm) {
    padding: 2.5rem;
  }
  h3 {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: white;
    @media (min-width: $breakpoint-sm) {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  p {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgb(163 163 163);
  }
}
.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  button {
    position: relative;
    height: 0.125rem;
    width: 1rem;
    border-radius: 9999px;
    background-color: rgb(115 115 115);
    cursor: pointer;
    border: 0;
    &.active-button {
      background-color: rgb(212 212 212);
    }
  }
}
