<section>
    <div class="background">
        <app-svg-spinner-big></app-svg-spinner-big>
    </div>
    <div class="layout">
        <div class="content">
            <h2>Get your first tips today</h2>
            <p>It takes 30 seconds to sign up. Download the app and create an account today and we’ll send you a tip
                guaranteed to double your first investment.</p>
            <div class="app-store">
                <a>
                    <app-svg-app-store></app-svg-app-store>
                </a>
            </div>
        </div>
    </div>
</section>