<div class="description">
    <div class="description-header">
        Stocks
    </div>
    <p>March 9, 2022</p>
</div>

<div class="items">
    <div class="item-container" *ngFor="let item of stockItems">
        <ng-container [ngSwitch]="item.title.toLowerCase()">
            <app-svg-laravel *ngSwitchCase="'laravel'"></app-svg-laravel>
            <app-svg-tuple *ngSwitchCase="'tuple'"></app-svg-tuple>
            <app-svg-transistor *ngSwitchCase="'transistor'"></app-svg-transistor>
            <app-svg-diageo *ngSwitchCase="'diageo'"></app-svg-diageo>
            <app-svg-statickit *ngSwitchCase="'statickit'"></app-svg-statickit>
            <app-svg-statamic *ngSwitchCase="'statamic'"></app-svg-statamic>
            <app-svg-mirage *ngSwitchCase="'mirage'"></app-svg-mirage>
            <app-svg-reversable *ngSwitchCase="'reversable'"></app-svg-reversable>
        </ng-container>
        <div class="item-title">{{ item.title }}</div>
        <div class="label">
            <p>{{ item.price }}</p>
            <span [ngStyle]="item.change > 0 ? {'color': 'rgb(147 51 234)'} : null">
                {{ item.change > 0 ? '+' + item.change + '%' : item.change + '%' }}
            </span>
        </div>
    </div>
</div>