<div class="layout">
    <div class="description">
        <div class="description-item" [class.active]="activeIndex === 0" (click)="setActive(0)"
            [@itemAnimation]="activeIndex === 0 ? 'active' : 'inactive'">
            <div class="description-container">
                <app-svg-device-user></app-svg-device-user>
                <h3>Invite friends for better returns</h3>
                <p>For every friend you invite to Pocket, you get insider notifications 5 seconds sooner. And it’s 10
                    seconds if you invite an insider.</p>
            </div>
        </div>
        <div class="description-item" [class.active]="activeIndex === 1" (click)="setActive(1)"
            [@itemAnimation]="activeIndex === 1 ? 'active' : 'inactive'">
            <div class="description-container">
                <app-svg-device-notification></app-svg-device-notification>
                <h3>Notifications on stock dips</h3>
                <p>Get a push notification every time we find out something that’s going to lower the share price on
                    your holdings so you can sell before the information hits the public markets.</p>
            </div>
        </div>
        <div class="description-item" [class.active]="activeIndex === 2" (click)="setActive(2)"
            [@itemAnimation]="activeIndex === 2 ? 'active' : 'inactive'">
            <div class="description-container">
                <app-svg-device-touch></app-svg-device-touch>
                <h3>Invest what you want</h3>
                <p>We hide your stock purchases behind thousands of anonymous trading accounts, so suspicious activity
                    can never be traced back to you.</p>
            </div>
        </div>
    </div>
    <div class="phone">
        <app-svg-spinner-big></app-svg-spinner-big>
        <div class="phone-main">
            <app-phone-frame></app-phone-frame>
        </div>
    </div>
</div>