@import ".../../../../../styles/variables.scss";

.layout {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: center;
  gap: 2rem;

  @media (min-width: $breakpoint-lg) {
    gap: 4rem;
  }
  @media (min-width: $breakpoint-xl) {
    gap: 6rem;
  }
}

.description {
  position: relative;
  z-index: 10;
  order: 9999;
  grid-column: span 6 / span 6;
  > *:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.description-item {
  position: relative;
  border-radius: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba(64, 64, 64, 0.1);
  }
}

.description-container {
  position: relative;
  z-index: 10;
  padding: 2rem;
  h3 {
    margin: 1.5rem 0 0 0;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 600;
    color: white;
  }
  p {
    margin: 0.5rem 0 0 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgb(163 163 163);
  }
}

.phone {
  position: relative;
  grid-column: span 6 / span 6;
}
