<header>
    <nav>
        <div class="header-container">
            <div class="menu-section">
                <a class="app-logo" routerLink="/">
                    <app-svg-logo></app-svg-logo>
                    <div class="app-text">Investo
                    </div>
                </a>
                <div class="nav-container">
                    <a class="nav-item" routerLink="/" fragment="features">
                        <span class="nav-text">Features</span>
                    </a>
                    <a class="nav-item" routerLink="/" fragment="reviews">
                        <span class="nav-text">Reviews</span>
                    </a>
                    <a class="nav-item" routerLink="/" fragment="pricing">
                        <span class="nav-text">Pricing</span>
                    </a>
                    <a class="nav-item" routerLink="/" fragment="faqs">
                        <span class="nav-text">FAQs</span>
                    </a>
                </div>
            </div>
            <div class="user-actions">
                <div class="small-screen-menu">
                    <button class="small-screen-menu-btn" *ngIf="!isModalOpen" (click)="openModal()">
                        <app-svg-menu-closed></app-svg-menu-closed>
                    </button>
                    <button class="small-screen-menu-btn" *ngIf="isModalOpen" (click)="closeModal()">
                        <app-svg-menu-open></app-svg-menu-open>
                    </button>
                    <div #myModal class="modal">
                        <div class="modal-content" [@slideInOut]="animationState">
                            <div class="small-screen-navigation">
                                <a class="small-screen-item" routerLink="/" fragment="features" (click)="closeModal()">
                                    Features
                                </a>
                                <a class="small-screen-item" routerLink="/" fragment="reviews" (click)="closeModal()">
                                    Reviews
                                </a>
                                <a class="small-screen-item" routerLink="/" fragment="pricing" (click)="closeModal()">
                                    Pricing
                                </a>
                                <a class="small-screen-item" routerLink="/" fragment="faqs" (click)="closeModal()">
                                    FAQs
                                </a>
                            </div>
                            <div class="small-screen-links">
                                <a routerLink="/login" class="small-screen-login-link">Log in</a>
                                <a class="small-screen-download-link">Download the app</a>
                            </div>
                        </div>

                    </div>
                </div>
                <a routerLink="/login" class="login-link">Log in</a>
                <a class="download-link">Download</a>
            </div>
        </div>
    </nav>
</header>