@import "../../styles/variables.scss";
@import "../../styles/helpers.scss";

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  @extend .centered-layout;
  padding: 5rem 1rem;
  align-items: center;
  position: relative;
  isolation: isolate;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (min-width: $breakpoint-sm) {
    padding: 8rem 1.5rem;
  }
  @media (min-width: $breakpoint-lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.background {
  position: absolute;
  top: -70%;
  z-index: -10;
  margin-top: 11rem;
  width: 68.125rem;
  mask-image: $mask-image;
}

.error-code {
  margin: 0;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 600;
  color: $dark-text-color;
}

.error-title {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: $font-size-3xl;
  line-height: $line-height-3xl;
  font-weight: 500;
  letter-spacing: $letter-spacing;
  color: $dark-text-color;
}

.error-message {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  color: rgb(82 82 82);
}

.home-link {
  @extend .button;
  display: inline-flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  border: $border-width solid $border-color;
  outline-width: 0.125rem;
  outline-offset: 0.125rem;
  text-decoration: none;
  color: rgb(55 65 81);
  transition: border 0.3s;

  &:hover {
    border-color: $border-hover-color;
  }
}
