@import "../../../../styles/variables.scss";

.column {
  position: relative;
  overflow-y: hidden;
}

.column-content {
  display: flex;
  flex-direction: column;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: marquee;
}
.column-content-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: marquee2;
}

figure {
  margin: 2rem 0 0 0;
  animation: fadeIn 0.5s linear forwards;
  border-radius: 1.5rem;
  background-color: white;
  padding: 1.5rem;
  opacity: 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
blockquote {
  margin: 0;

  color: $dark-text-color;
  div {
    display: flex;
  }
}
figcaption {
  margin-top: 0.75rem;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: rgb(82 82 82);

  &::before {
    content: "- ";
  }
}

.review-title {
  text-align: start;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: $font-size-lg;
  line-height: 1.5rem;
  font-weight: 600;
  &::before {
    content: "“";
  }
  &::after {
    content: "”";
  }
}

.review-description {
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: $font-size-base;
  line-height: 1.75rem;
}

@keyframes marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
