<app-auth-form header="Sign in to account" routeLink="/register" descriptionBefore="Don’t have an account?"
    descriptionAfter="for a free trial." link="Sign up" submitText="Sign in to account">
    <div class="form-inputs">
        <div>
            <label for="email" class="form-label">Email address</label>
            <input required type="email" class="form-input" id="email" name="email">
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input required type="password" class="form-input" id="password" name="password">
        </div>
    </div>
</app-auth-form>