@import "../../styles/variables.scss";

.form-inputs {
  > *:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.form-label {
  margin-bottom: 0.5rem;
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 600;
  color: rgb(23 23 23);
}

.form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  background-color: white;
  padding: 0.5rem 0.75rem;
  color: rgb(23 23 23);
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  &:focus {
    border-color: $accent-color;
    box-shadow: 0 0 0 1px $accent-color;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}
