@mixin button-styles {
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  border-radius: $rounded-large;
  font-size: $font-size-small;
  line-height: $line-height-small;
  outline-width: 0.125rem;
  outline-offset: 0.125rem;
  cursor: pointer;
  display: none;
  @media (min-width: $breakpoint-lg) {
    display: flex;
  }
}
