@import "./variables.scss";

.centered-layout {
  @extend .horizontal-center;
  max-width: $max-content-width;
  padding-left: 1rem;
  padding-right: 1rem;
}

.responsive-centered-layout {
  @extend .centered-layout;
  @media (min-width: $breakpoint-sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media (min-width: $breakpoint-lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  border-radius: $border-radius;
}

.label-field {
  margin-bottom: 0.5rem;
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 600;
  color: $dark-text-color;
}

.input-field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  background-color: white;
  padding: 0.5rem 0.75rem;
  color: $dark-text-color;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  &:focus {
    border-color: $accent-color;
    box-shadow: 0 0 0 1px $accent-color;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}
