@import "../../../styles/variables.scss";
@import "../../../styles/helpers.scss";

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media (min-width: $breakpoint-sm) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.layout {
  @extend .responsive-centered-layout;
}

.header {
  @extend .horizontal-center;
  max-width: $half-content-width;
  @media (min-width: $breakpoint-sm) {
    text-align: center;
  }
  h2 {
    font-size: $font-size-3xl;
    line-height: $line-height-3xl;
    font-weight: 500;
    letter-spacing: $letter-spacing;
    color: rgb(23 23 23);
    margin: 0;
  }
  p {
    margin-top: 0.5rem;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    color: rgb(82 82 82);
    margin-bottom: 0;
  }
}

ul {
  @extend .horizontal-center;
  margin-top: 4rem;
  display: grid;
  max-width: $half-content-width;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  padding: 0;
  @media (min-width: $breakpoint-sm) {
    margin-top: 5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: $breakpoint-md) {
    row-gap: 2.5rem;
  }
  @media (min-width: $breakpoint-lg) {
    max-width: none;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

li {
  border-radius: 1rem;
  border: $border-width solid $border-color;
  padding: 2rem;
  list-style-type: none;

  h3 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: 600;
    color: rgb(23 23 23);
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: rgb(64 64 64);
  }
}
