<section class="section">
    <div class="layout">
        <div class="info">
            <h2 class="title">Flat pricing, no management fees.</h2>
            <p class="description">Whether you’re one person trying to get ahead or a big firm trying to take
                over the world, we’ve got a plan for you.</p>
        </div>
        <div class="options">
            <div class="options-container">
                <div class="monthly-option" [@optionState]="activeOption === 'monthly' ? 'active' : 'inactive'"
                    (click)="setActiveOption('monthly')">
                    Monthly
                </div>
                <div class="annually-option" [@optionState]="activeOption === 'annually' ? 'active' : 'inactive'"
                    (click)="setActiveOption('annually')">
                    Annually
                </div>
            </div>
        </div>
        <div class="plans-layout">
            <app-subscription-card [subscriptionData]="subscriptionData[0]"></app-subscription-card>
            <app-subscription-card [subscriptionData]="subscriptionData[1]" logoFill="rgb(115,115,115)"
                [activeOption]="activeOption"></app-subscription-card>
            <app-subscription-card [subscriptionData]="subscriptionData[2]" colorMode="dark" logoFill="rgb(168,85,247)"
                [activeOption]="activeOption"></app-subscription-card>
        </div>
    </div>
</section>