@import "../../../../styles/variables.scss";

ul {
  margin: 0;
  list-style: none;
  padding: 0;
  > *:not(:first-child) {
    margin-top: 2.5rem;
  }
}

h3 {
  margin: 0;
  font-size: $font-size-lg;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgb(23 23 23);
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: rgb(64 64 64);
}
