<div class="intro-container">
    <div class="intro-content">
        <div class="intro-layout">
            <div class="intro-heading">
                <h1 class="intro-title">Invest at the perfect time.</h1>
                <p class="intro-description">By leveraging insights from our network of industry insiders, you’ll know
                    exactly when to buy to maximize profit, and exactly when to sell to avoid painful losses.</p>
                <div class="intro-links">
                    <a class="intro-app"><app-svg-app-store></app-svg-app-store></a>
                    <a class="intro-link">Link 2</a>
                </div>
            </div>
            <div class="intro-number">2</div>
            <div class="intro-list">
                <p class="intro-list-title">List Title</p>
                <ul class="intro-list-items">
                    <li class="intro-list-item">1</li>
                    <li class="intro-list-item">2</li>
                    <li class="intro-list-item">3</li>
                    <li class="intro-list-item">4</li>
                    <li class="intro-list-item">5</li>
                    <li class="intro-list-item">6</li>
                    <li class="intro-list-item">7</li>
                    <li class="intro-list-item">8</li>
                </ul>
            </div>
        </div>
    </div>
</div>