<div class="intro-container">
    <div class="intro-content">
        <div class="intro-layout">
            <div class="intro-heading">
                <h1 class="intro-title">Invest at the perfect time.</h1>
                <p class="intro-description">By leveraging insights from our network of industry insiders, you’ll know
                    exactly when to buy to maximize profit, and exactly when to sell to avoid painful losses.</p>
                <div class="intro-links">
                    <a class="intro-app"><app-svg-app-store></app-svg-app-store></a>
                    <a class="intro-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                        target="_blank"><app-svg-play></app-svg-play><span>Watch the
                            video</span></a>
                </div>
            </div>
            <div class="intro-phone">
                <div class="intro-phone-background">
                    <app-svg-spinner-big></app-svg-spinner-big>
                    <app-svg-spinner-small></app-svg-spinner-small>
                </div>
                <div class="intro-phone-main">
                    <app-phone-frame>
                        <div class="intro-phone-content">
                            <div class="intro-phone-padding">
                                <div class="intro-phone-stock">
                                    <div>Angular Labs, Inc.</div>
                                    <p>$SCSS</p>
                                    <div class="intro-phone-stock-plus">
                                        <app-svg-plus></app-svg-plus>
                                    </div>
                                </div>
                                <div class="intro-phone-container">
                                    <div class="intro-phone-percentages">
                                        <div class="percentages-price">
                                            {{ data[currentObjectId].price.toFixed(2)
                                            }}
                                        </div>
                                        <div class="percentages-currency">EUR</div>
                                        <div class="percentages-percentage"
                                            *ngIf="data[currentObjectId]?.percentage !== null"
                                            [ngStyle]="percentageStyle">
                                            {{ data[currentObjectId].percentage?.toFixed(2) + '%'}}
                                        </div>
                                    </div>
                                    <div class="intro-phone-timeline">
                                        <div>1D</div>
                                        <div>5D</div>
                                        <div class="intro-phone-timeline-active">1M</div>
                                        <div>6M</div>
                                        <div>1Y</div>
                                        <div>5Y</div>
                                    </div>
                                    <div class="intro-phone-graph">
                                        <app-svg-graph (hoverChange)="handleHoverChange($event)"></app-svg-graph>

                                    </div>
                                    <div class="intro-phone-btn">Trade</div>
                                    <div class="intro-phone-price">
                                        <div class="intro-phone-price-element">
                                            <p>Open</p>
                                            <span>6,387.55</span>
                                        </div>
                                        <div class="intro-phone-price-element">
                                            <p>Closed</p>
                                            <span>6,487.09</span>
                                        </div>
                                        <div class="intro-phone-price-element">
                                            <p>Open</p>
                                            <span>6,322.01</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-phone-frame>
                </div>
            </div>
            <div class="intro-list">
                <p>As featured in</p>
                <ul>
                    <li *ngFor="let publication of featuredIn; let i = index" [class.intro-list-item]="i===3 || i===7">
                        <img [alt]="publication" loading="lazy" [width]="publication.width" height="32" decoding="async"
                            data-nimg="1" style="color: transparent"
                            [src]="'../../assets/img/' + publication.name.toLowerCase() + '.svg'" />
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>