@import "../../../../styles/variables.scss";
@import "../../../../styles/helpers.scss";

section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: white;
}

.title {
  display: flex;
  align-items: center;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 600;
  color: $dark-text-color;
  margin: 0;
}

.title-text {
  margin-left: 1rem;
}

.price {
  position: relative;
  margin-top: 1.25rem;
  margin-bottom: 0;
  display: flex;
  font-size: $font-size-3xl;
  line-height: $line-height-3xl;
  letter-spacing: $letter-spacing;
  color: $dark-text-color;
}

.description {
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: rgb(64 64 64);
}

.features {
  order: 9999;
  margin-top: 1.5rem;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: rgb(64 64 64);
  > *:not(:first-child) {
    border-top: $border-width solid $border-color;
  }
}

.feature {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  span {
    margin-left: 1rem;
  }
}

.link {
  @extend .button;
  display: inline-flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-weight: 600;
  outline-width: 2px;
  outline-offset: 2px;
  background-color: rgb(31 41 55);
  color: white;
  transition: background-color 0.3s;
  &:hover {
    background-color: rgb(17 24 39);
  }
}

.dark-background {
  background-color: $dark-text-color;
}

.dark-text {
  color: rgb(212 212 212);
}
.dark-text-white {
  color: white;
}

.dark-link {
  background-color: $accent-color;
  &:hover {
    background-color: $darker-accent-color;
  }
}
.dark-list {
  > *:not(:first-child) {
    border-top: $border-width solid rgb(31 41 55);
  }
}

a {
  text-decoration: none;
}
