@import "../../../styles/variables.scss";
@import "../../../styles/helpers.scss";
.container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

main {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  padding-top: 4rem;
  @media (min-width: $breakpoint-sm) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.content {
  @extend .horizontal-center;
  align-items: center;
  display: flex;
  width: 100%;
  max-width: $half-content-width;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.logo {
  @extend .horizontal-center;
  color: black;
  display: flex;
  gap: 0.75rem;
}

.app-text {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.section {
  position: relative;
  margin-top: 3rem;
  @media (min-width: $breakpoint-sm) {
    width: 100%;
    margin-top: 4rem;
  }
}

.background {
  position: absolute;
  left: -105%;
  display: block;
  z-index: -10;
  top: -1.75rem;
  mask-image: $mask-image;
  @media (min-width: $breakpoint-sm) {
    top: -2.25rem;
    left: -35%;
  }
}

.heading {
  margin: 0;
  text-align: center;
  font-size: $font-size-2xl;
  line-height: $line-height-2xl;
  font-weight: 500;
  letter-spacing: $letter-spacing;
  color: $dark-text-color;
}

.info {
  margin-top: 0.75rem;
  margin-bottom: 0;
  text-align: center;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  color: rgb(82 82 82);
}

.link {
  color: $accent-color;
}

.form-container {
  box-sizing: border-box;
  width: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 2.5rem;
  flex: 1 1 auto;
  background-color: white;
  padding: 2.5rem 1rem;
  box-shadow: 0 25px 50px -12px rgb(17 24 39 / 0.1);
  @media (min-width: $breakpoint-sm) {
    max-width: 37rem;
    margin-left: 0;
    margin-right: 0;
    flex: none;
    border-radius: 2.5rem;
    padding: 6rem;
  }
}

.submit-button {
  @extend .button;
  display: inline-flex;
  justify-content: center;
  border: 0;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  background-color: $accent-color;
  color: white;
  margin-top: 2rem;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: $darker-accent-color;
  }
}
