<div class="description">
    <div class="description-header">
        Invite people
    </div>
    <p>Get tips <span>5s sooner</span> for every invite.</p>
</div>
<div class="items">
    <div class="item-container">
        <div class="items-layout">
            <div>
                <div class="label-title">Full name</div>
                <div class="label-content">Albert H. Wiggin</div>
            </div>
            <div>
                <div class="label-title">Email address</div>
                <div class="label-content">awiggin@chase.com</div>
            </div>
        </div>
        <div class="button">Invite person</div>
    </div>
</div>