@import "../../../styles/variables.scss";
@import "../../../styles/helpers.scss";

section {
  position: relative;
  overflow: hidden;
  background-color: $dark-text-color;
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media (min-width: $breakpoint-sm) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.background {
  position: absolute;
  left: 5rem;
  top: -10%;
  height: 35rem;
  width: 35rem;
  @media (min-width: $breakpoint-sm) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.layout {
  @extend .responsive-centered-layout;
}

.content {
  @extend .horizontal-center;
  max-width: 28rem;
  @media (min-width: $breakpoint-sm) {
    text-align: center;
  }
  h2 {
    font-size: $font-size-3xl;
    line-height: $line-height-3xl;
    font-weight: 500;
    letter-spacing: $letter-spacing;
    color: rgb(255 255 255);
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: $breakpoint-sm) {
      font-size: $font-size-4xl;
      line-height: $line-height-4xl;
    }
  }
  p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    color: rgb(212 212 212);
  }
}

.app-store {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  a {
    border-radius: $border-radius;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}
