<section>
    <div class="layout">
        <h2 class="layout-title">Everyone is changing their life with Investo.</h2>
        <p class="layout-description">Thousands of people have doubled their net-worth in the last 30 days.</p>
        <div class="content-layout">
            <app-reviews-column [reviews]="getTopReviews()"></app-reviews-column>
            <app-reviews-column class="second-column" [reviews]="getMiddleReviews()"></app-reviews-column>
            <app-reviews-column class="third-column" [reviews]="getBottomReviews()"></app-reviews-column>
            <div class="top-gradient"></div>
            <div class="bottom-gradient"></div>
        </div>
    </div>
</section>