@import ".../../../../../../styles/variables.scss";

.layout {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: center;
  gap: 2rem;

  @media (min-width: $breakpoint-lg) {
    gap: 4rem;
  }
  @media (min-width: $breakpoint-xl) {
    gap: 6rem;
  }
}

.description {
  position: relative;
  z-index: 10;
  order: 9999;
  grid-column: span 6 / span 6;
  > *:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.description-item {
  position: relative;
  border-radius: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba(64, 64, 64, 0.1);
  }
}

.description-container {
  position: relative;
  z-index: 10;
  padding: 2rem;
  h3 {
    margin: 1.5rem 0 0 0;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 600;
    color: white;
  }
  p {
    margin: 0.5rem 0 0 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgb(163 163 163);
  }
}

.phone {
  position: relative;
  grid-column: span 6 / span 6;
  min-width: 360;
}
.phone-background {
  position: absolute;
  top: 50%;
  height: 35rem;
  width: 35rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phone-main {
  position: relative;
  aspect-ratio: 366/729;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 23rem;
}

.phone-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.phone-description {
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgb(115 115 115);
    margin: 0;
    span {
      color: white;
    }
  }
}

.phone-description-header {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.phone-items {
  margin-top: 1.5rem;
  flex: 1 1 auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: white;
  height: 32.5rem;
}

.phone-item-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.phone-item-far {
  > *:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.phone-item-close {
  > *:not(:first-child) {
    margin-top: 1rem;
  }
}

.phone-label-title {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgb(115 115 115);
}

.phone-label-content {
  margin-top: 0.5rem;
  border-bottom: 0.0625rem solid rgb(229 229 229);
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgb(23 23 23);
}

.phone-button {
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgb(168, 85, 247);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: white;
}
