@import ".../../../../../../styles/variables.scss";
@import ".../../../../../../styles/helpers.scss";

.layout {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: center;
  gap: 2rem;

  @media (min-width: $breakpoint-lg) {
    gap: 4rem;
  }
  @media (min-width: $breakpoint-xl) {
    gap: 6rem;
  }
}

.description {
  position: relative;
  z-index: 10;
  order: 9999;
  grid-column: span 6 / span 6;
  > *:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.description-item {
  position: relative;
  border-radius: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba(64, 64, 64, 0.1);
  }
}

.description-container {
  position: relative;
  z-index: 10;
  padding: 2rem;
  h3 {
    margin: 1.5rem 0 0 0;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    font-weight: 600;
    color: white;
  }
  p {
    margin: 0.5rem 0 0 0;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    color: rgb(163 163 163);
  }
}

.phone {
  position: relative;
  grid-column: span 6 / span 6;
}
.phone-background {
  position: absolute;
  top: 50%;
  height: 35rem;
  width: 35rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phone-main {
  @extend .horizontal-center;
  position: relative;
  aspect-ratio: 366/729;
  z-index: 10;
  width: 100%;
  max-width: 23rem;
}

.phone-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
