<div class="description">
    <div class="description-header">
        Buy €LA
    </div>
    <p><span>€34.28</span> per share</p>
</div>
<div class="items">
    <div class="item-container">
        <div class="items-layout">
            <div class="item-content">
                <p>Number of shares</p>
                <span>100</span>
            </div>
            <div class="item-content">
                <p>Current market price</p>
                <span>
                    €34.28
                    <app-svg-grow></app-svg-grow>
                </span>
            </div>
            <div class="item-content">
                <p>Estimated cost</p>
                <span>€3,428.00</span>
            </div>
            <div class="button">Buy shares</div>
        </div>
    </div>
</div>