@import ".../../../../../../../styles/variables.scss";
@import ".../../../../../../../styles/helpers.scss";

.description {
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgb(115 115 115);
    margin: 0;
    span {
      color: white;
    }
  }
}

.description-header {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.items {
  margin-top: 1.5rem;
  flex: 1 1 auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: white;
  height: 32.5rem;
}

.item-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.items-layout {
  > *:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.item-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid rgb(229 229 229);
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  p {
    color: rgb(115 115 115);
    margin: 0;
  }
  span {
    display: flex;
    color: rgb(23 23 23);
    font-weight: 600;
  }
}

.button {
  @extend .button;
  margin-top: 1.5rem;
  background-color: rgb(147 51 234);
  text-align: center;
  font-weight: 600;
  color: white;
}
