@import "../../../styles/variables.scss";
@import "../../../styles/helpers.scss";

footer {
  border-top: $border-width solid $border-color;
}

.layout {
  @extend .responsive-centered-layout;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 3rem;
  padding-bottom: 1.5rem;
  padding-top: 4rem;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: $dark-text-color;
}

.logo-container {
  margin-left: 1rem;
}

.logo-header {
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 600;
}

.logo-text {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

.footer-nav {
  margin-top: 2.75rem;
  display: flex;
  gap: 2rem;
}
a {
  text-decoration: none;
}

.nav-link {
  position: relative;
  margin: -0.5rem -0.75rem;
  border-radius: $border-radius;
  padding: 0.5rem 0.75rem;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: rgb(64 64 64);
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: rgb(17, 24, 39);
    background-color: rgb(243 244 246);
  }
}

.nav-text {
  position: relative;
  z-index: 10;
}

.download-section {
  position: relative;
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 1rem;

  &:hover {
    background-color: rgb(243 244 246);
  }
  @media (min-width: $breakpoint-sm) {
    align-self: auto;
    border-radius: 1rem;
  }
  @media (min-width: $breakpoint-lg) {
    margin-left: 0;
    margin-right: 0;
    align-self: auto;
    padding: 1.5rem;
  }
}

.download-logo {
  position: relative;
  display: flex;
  height: 6rem;
  width: 6rem;
  flex: none;
  align-items: center;
  justify-content: center;
}

.download-text {
  margin-left: 2rem;
  @media (min-width: $breakpoint-lg) {
    width: 16rem;
  }
}

.download-text-header {
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 0;
  font-weight: 600;
  color: $dark-text-color;
  span {
    inset: 0;
    @media (min-width: $breakpoint-sm) {
      border-radius: 1rem;
    }
  }
}

.download-text-description {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: rgb(64 64 64);
}

.newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: $border-width solid $border-color;
  padding-bottom: 3rem;
  padding-top: 2rem;
  @media (min-width: $breakpoint-md) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  @media (min-width: $breakpoint-md) {
    width: auto;
  }
}

.input-container {
  width: 15rem;
  min-width: 0;
  flex-shrink: 1;
}

.email-input {
  @extend .input-field;

  &::placeholder {
    color: rgb(161, 161, 170);
  }
}

.newsletter-button {
  @extend .button;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-weight: 600;
  background-color: $accent-color;
  color: white;
  margin-left: 1rem;
  flex: none;
  &:active {
    background-color: $darker-accent-color;
  }
}

.button-text {
  display: none;
  @media (min-width: $breakpoint-lg) {
    display: inline;
  }
}

.alt-button-text {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

.copyright-text {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: rgb(115 115 115);
  @media (min-width: $breakpoint-md) {
    margin-top: 0;
  }
}
