@import "../../../styles/variables.scss";

footer {
  border-top: 0.0625rem solid rgb(229 229 229);
}

.layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: $breakpoint-sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media (min-width: $breakpoint-lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 3rem;
  padding-bottom: 1.5rem;
  padding-top: 4rem;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: rgb(23 23 23);
}

.logo-container {
  margin-left: 1rem;
}

.logo-header {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.logo-text {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.footer-nav {
  margin-top: 2.75rem;
  display: flex;
  gap: 2rem;
}
a {
  text-decoration: none;
}

.nav-link {
  position: relative;
  margin: -0.5rem -0.75rem -0.5rem -0.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgb(64 64 64);
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: rgb(17, 24, 39);
    background-color: rgb(243 244 246);
  }
}

.nav-text {
  position: relative;
  z-index: 10;
}

.download-section {
  position: relative;
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 1rem;

  &:hover {
    background-color: rgb(243 244 246);
  }
  @media (min-width: $breakpoint-sm) {
    align-self: auto;
    border-radius: 1rem;
  }
  @media (min-width: $breakpoint-lg) {
    margin-left: 0;
    margin-right: 0;
    align-self: auto;
    padding: 1.5rem;
  }
}

.download-logo {
  position: relative;
  display: flex;
  height: 6rem;
  width: 6rem;
  flex: none;
  align-items: center;
  justify-content: center;
}

.download-text {
  margin-left: 2rem;
  @media (min-width: $breakpoint-lg) {
    width: 16rem;
  }
}

.download-text-header {
  font-size: 1rem;
  margin: 0;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgb(23 23 23);
  span {
    inset: 0;
    @media (min-width: $breakpoint-sm) {
      border-radius: 1rem;
    }
  }
}

.download-text-description {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgb(64 64 64);
}

.newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.0625rem solid rgb(229 229 229);
  padding-bottom: 3rem;
  padding-top: 2rem;
  @media (min-width: $breakpoint-md) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  @media (min-width: $breakpoint-md) {
    width: auto;
  }
}

.input-container {
  width: 15rem;
  min-width: 0;
  flex-shrink: 1;
}

.email-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  border-radius: 0.5rem;
  border: 0.0625rem solid rgb(229 229 229);
  background-color: white;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  color: rgb(23 23 23);

  font-size: 0.875rem;
  line-height: 1.5rem;
}

.email-input::placeholder {
  color: rgb(161 161 170);
}

.email-input:focus {
  border-color: rgb(147 51 234);
  box-shadow: 0 0 0 1px rgb(147 51 234);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.newsletter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 600;
  background-color: rgb(147 51 234);
  color: white;
  margin-left: 1rem;
  cursor: pointer;
  flex: none;
  &:active {
    background-color: rgb(126 34 206);
  }
}

.button-text {
  display: none;
  @media (min-width: $breakpoint-lg) {
    display: inline;
  }
}

.alt-button-text {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

.copyright-text {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgb(115 115 115);
  @media (min-width: $breakpoint-md) {
    margin-top: 0;
  }
}
