<footer>
    <div class="layout">
        <div class="nav-section">
            <div>
                <div class="logo">
                    <app-svg-logo></app-svg-logo>
                    <div class="logo-container">
                        <p class="logo-header">Investo</p>
                        <p class="logo-text">Invest at the perfect time.</p>
                    </div>
                </div>
                <nav class="footer-nav">
                    <a class="nav-link" routerLink="/" fragment="features">
                        <span class="nav-text">Features</span>
                    </a>
                    <a class="nav-link" routerLink="/" fragment="reviews">
                        <span class="nav-text">Reviews</span>
                    </a>
                    <a class="nav-link" routerLink="/" fragment="pricing">
                        <span class="nav-text">Pricing</span>
                    </a>
                    <a class="nav-link" routerLink="/" fragment="faqs">
                        <span class="nav-text">FAQs</span>
                    </a>
                </nav>
            </div>
            <a href="#">
                <div class="download-section">
                    <div class="download-logo">
                        <app-svg-qr-frame></app-svg-qr-frame>
                        <img loading="lazy" src="../../assets/img/qr-code.svg">
                    </div>
                    <div class="download-text">
                        <p class="download-text-header">

                            <span>Download the app</span>

                        </p>
                        <p class="download-text-description">Scan the QR code to download the app from the App Store.
                        </p>
                    </div>
                </div>
            </a>

        </div>
        <div class="newsletter-section">
            <form>
                <div class="input-container">
                    <input type="email" placeholder="Email address" required class="email-input">
                </div>
                <button class="newsletter-button">
                    <span class="button-text">Join our newsletter</span>
                    <span class="alt-button-text">Join newsletter</span>
                </button>
            </form>
            <p class="copyright-text">© Investo {{yearNow}}.</p>
        </div>
    </div>
</footer>