@import "../../styles/variables.scss";

.form-inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.form-label {
  margin-bottom: 0.5rem;
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 600;
  color: rgb(23 23 23);
}

.form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  background-color: white;
  padding: 0.5rem 0.75rem;
  color: rgb(23 23 23);
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  &:focus {
    border-color: $accent-color;
    box-shadow: 0 0 0 1px $accent-color;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.form-group {
  grid-column: 1/-1;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23737373' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
}
